<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/"
      lang="ja"
      layout:decorator="layout"
      th:with="
        currentUrl=${#httpServletRequest.requestURI},
        isCreate=${#strings.startsWith(currentUrl,'/application/create')},
        title=${isCreate} ? '応募作成' : '応募詳細',
        buttonLabel=${isCreate} ? '作成' : '更新',
        action=${isCreate} ? @{/application} : @{/application/{id}(id=${id})}">
  <head>
    <title th:text="${title}">応募詳細</title>
  </head>
  <body>
    <div layout:fragment="content" class="col-sm-12">
      <h2 th:text="${title}">応募詳細</h2>
      <div class="register-form">
        <form th:action="${currentUrl}" method="get" id="formToGetJobs"></form>

        <form th:action="${action}" th:object="${applicationForm}" method="post" class="form-signup form-horizontal">
          <fieldset>

            <div class="form-group" th:classappend="${#fields.hasErrors('applicantId')}? 'has-error has-feedback'">
              <label for="applicantId" class="col-sm-2 control-label">求職者名</label>
              <div class="col-sm-10">
                <select id="applicantId" name="applicantId" class="form-control">
                  <option th:each="applicant : ${applicants}" th:value="${applicant.id}" th:selected="${applicant.id} == *{applicantId}" th:inline="text">
                    [[${applicant.name}]]
                  </option>
                </select>
                <span th:if="${#fields.hasErrors('applicantId')}" th:errors="*{applicantId}">error!</span>
              </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('companyId')}? 'has-error has-feedback'">
              <label for="companyId" class="col-sm-2 control-label">求人組織名</label>
              <div class="col-sm-10">
                <select id="companyId" name="companyId" class="form-control">
                  <option th:each="company : ${companies}" th:value="${company.id}" th:selected="${company.id} == *{companyId}" th:inline="text">
                    [[${company.name}]]
                  </option>
                </select>
                <span th:if="${#fields.hasErrors('companyId')}" th:errors="*{companyId}">error!</span>
              </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('jobIds')}? 'has-error has-feedback'">
              <label for="jobIds" class="col-sm-2 control-label">求人案件名</label>
              <div id="jobIds" class="col-sm-10">
                <div class="checkbox" th:each="job : ${jobs}">
                  <label>
                    <input type="checkbox" name="jobIds" th:value="${job.id}" th:text="${job.name}" th:field="*{jobIds}"/>
                  </label>
                </div>
              </div>
              <span th:if="${#fields.hasErrors('jobIds')}" th:errors="*{jobIds}">error!</span>
            </div>


            <div class="form-group" th:classappend="${#fields.hasErrors('statusId')}? 'has-error has-feedback'">
              <label for="statusId" class="col-sm-2 control-label">ステータス</label>
              <div class="col-sm-10">
                <select id="statusId" name="statusId" class="form-control">
                  <option th:each="status : ${statuses}" th:value="${status.id}" th:selected="${status.id} == *{statusId}" th:inline="text">
                    [[${status.name}]]
                  </option>
                </select>
                <span th:if="${#fields.hasErrors('statusId')}" th:errors="*{statusId}">error!</span>
              </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'">
              <label for="description" class="col-sm-2 control-label">説明</label>
              <div class="col-sm-10">
                <input type="text" id="description" name="description" th:field="*{description}"
                       class="form-control" autofocus="autofocus"/>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
              </div>
            </div>

            <!-- ボタン -->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a th:href="@{/application}" class="btn btn-lg btn-default">一覧に戻る</a>
                <input type="submit" value="更新" th:value="${buttonLabel}" class="btn btn-lg btn-danger"/>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
